<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>id</string>
		<key>value</key>
		<string>Bahasa Indonesia</string>
	</dict>
	<dict>
		<key>key</key>
		<string>my</string>
		<key>value</key>
		<string>Bahasa Melayu</string>
	</dict>
	<dict>
		<key>key</key>
		<string>de</string>
		<key>value</key>
		<string>Deutsch</string>
	</dict>
	<dict>
		<key>key</key>
		<string>en</string>
		<key>value</key>
		<string>English</string>
	</dict>
	<dict>
		<key>key</key>
		<string>es</string>
		<key>value</key>
		<string>Español</string>
	</dict>
	<dict>
		<key>key</key>
		<string>fr</string>
		<key>value</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>key</key>
		<string>nl</string>
		<key>value</key>
		<string>Nederlands</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ur</string>
		<key>value</key>
		<string>اردو</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ir</string>
		<key>value</key>
		<string>فارسی</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tr</string>
		<key>value</key>
		<string>Türkçe</string>
	</dict>
	<dict>
		<key>key</key>
		<string>it</string>
		<key>value</key>
		<string>Italiano</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cn</string>
		<key>value</key>
		<string>简体</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ja</string>
		<key>value</key>
		<string>日本語</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ko</string>
		<key>value</key>
		<string>한국말</string>
	</dict>
	<dict>
		<key>key</key>
		<string>hr</string>
		<key>value</key>
		<string>Hrvatski</string>
	</dict>
	<dict>
		<key>key</key>
		<string>no</string>
		<key>value</key>
		<string>Norsk</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pl</string>
		<key>value</key>
		<string>Język polski</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pt</string>
		<key>value</key>
		<string>Português</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ro</string>
		<key>value</key>
		<string>Limba română</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ru</string>
		<key>value</key>
		<string>русский язык</string>
	</dict>
	<dict>
		<key>key</key>
		<string>sq</string>
		<key>value</key>
		<string>Shqip</string>
	</dict>
	<dict>
		<key>key</key>
		<string>az</string>
		<key>value</key>
		<string>Azərbaycan dili</string>
	</dict>
	<dict>
		<key>key</key>
		<string>bg</string>
		<key>value</key>
		<string>Bălgarski esik</string>
	</dict>
	<dict>
		<key>key</key>
		<string>th</string>
		<key>value</key>
		<string>ภาษาไทย</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cs</string>
		<key>value</key>
		<string>čeština</string>
	</dict>
	<dict>
		<key>key</key>
		<string>sv</string>
		<key>value</key>
		<string>Svenska</string>
	</dict>
	<dict>
		<key>key</key>
		<string>hi</string>
		<key>value</key>
		<string>हिन्दी</string>
	</dict>
</array>
</plist>
